.loginForm{

	margin-left: 150px;
	
}
#passwordField{
	display: block;


}
.commentBox{
	    margin-left: 15px;
    margin-top: -30px;
}

#loginButton{
	display: block;
    margin-left: 50px;
    margin-top: 15px;

}
#submitButton{
	display: block;
    float: right;
    margin-top: 84px;

}
.formBox{
	margin-top: 80px;
	margin-left: 300px;	
    border: 1px solid lightgray;
    width: 500px;
    height: 250px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
}
.userImage{
    width: 200px;
    position: absolute;
    right: -300px;
    top: 0
}
.auditeeBox{
	margin-top: 80px;
	margin-left: 50px;	
    border: 1px solid lightgray;
    width: 800px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;

}
.statusBox{
	margin-top: 500px;
	margin-left: 50px;	
    border: 1px solid lightgray;
    width: 1100px;
    height: 300px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;

}
.title{
	position: absolute;
    top: -50px;
    color: #F664D0  ;
}
.assignButton{
	margin-left: 350px;
}